.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 10px;
  }

  .title {
    font-family: "Moderat Extended";
    font-size: 2.5rem;
    text-transform: capitalize;
    width: fit-content;
    cursor: pointer;
    position: relative;

    &:hover {
      color: #f5f5f5 !important;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: #16161d;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
    }
  }
}
