.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 40px;
  padding: 0 20px 20px 20px;

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
