.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 0 20px;
  margin-bottom: 20px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  h2 {
    margin: 10px 0;
  }

  .sign-in-span {
    font-size: 0.9rem;
    font-weight: 100;
  }

  .buttons-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
}
