@font-face {
  src: url("./assets/fonts/Moderat-Regular.woff2");
  font-family: "Moderat";
  font-weight: normal;
}

@font-face {
  src: url("./assets/fonts/Moderat-Bold.woff2");
  font-family: "Moderat";
  font-weight: bold;
}

@font-face {
  src: url("./assets/fonts/Moderat-Thin.woff2");
  font-family: "Moderat";
  font-weight: 100;
}

@font-face {
  src: url("./assets/fonts/Moderat-Extended-Black.woff2");
  font-family: "Moderat Extended";
  font-weight: 900;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Moderat", sans-serif;
  background-color: #f5f5f5;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #16161d;
}
